{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/react",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "plugins": [
    "eslint-plugin-react",
    "eslint-plugin-import",
    "simple-import-sort",
    "react",
    "prettier"
  ],
  "rules": {
    // Disables enforcing of single quotes and requires semicolons
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true,
        "semi": false
      }
    ],


    // We had some issues with escaping so this is disabled for now
    "react/no-unescaped-entities": 0,

    // Currently disabling prop types, will be resolved with TypeScript
    "react/prop-types": "off",

    // Removing display name requirement for ref forwarding
    "react/display-name": "off",

    // Remove notice for React imports for React v17
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",

    // Make imports appear on top
    "import/first": "error",

    // Enforce having one line after the last import
    "import/newline-after-import": "error",

    // Reports if a resolved path is imported more than once.
    "import/no-duplicates": "error",

    // Easy autofixable import sorting.
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          ["^\\u0000"],

          ["^react", "^@?\\w"],

          ["^\\.\\."],

          ["^\\./(?=[^/]*?/)", "^\\."],

          ["\\.s?css$"]
        ]
      }
    ],

    // Import sorting is handled by simple-import-sort
    "sort-imports": "off",

    // Ensure max length of a line to be a recommended 100
    "max-len": ["error", { "code": 100 }],

    // Enforce curly braces for code clarity
    "curly": "error",

    // Empty line rules
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": ["const", "let", "var"],
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": ["const", "let", "var"],
        "next": ["const", "let", "var"]
      },
      {
        "blankLine": "always",
        "prev": ["function"],
        "next": "*"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      }
    ]
  },

  "settings": {
    "react": {
      "version": "detect"
    },

    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"],
        "extensions": [".js", ".jsx"]
      }
    }
  }
}