.container {
  flex: 1 0 0;
  border-radius: 10px;
  border: 2px solid var(--grey-dark-color);
  transition: border-color 0.3s ease;
}

.container:hover {
  border-color: var(--green-bright-color);
}
