.tag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  min-width: 0;
  box-sizing: border-box;
  height: fit-content;
  padding: 4px 8px;
  background: var(--grey-dark-color);
  cursor: pointer;

  &:hover {
    .remove {
      svg {
        fill: var(--red-error-color);
      }
    }
  }
}

.text {
  box-sizing: border-box;
  padding: 3px;
  padding-left: 6px;
  font-size: 100%;
  color: var(--white-color);
  white-space: nowrap;
  overflow: hidden;
  border-radius: 2px;
  text-overflow: ellipsis;
}

.remove {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 2px;
  background: none;
}
