@keyframes pulse {
  0% {
    transform: rotate(30deg) scale(1);
  }
  50% {
    transform: rotate(30deg) scale(1.1);
  }
  100% {
    transform: rotate(30deg) scale(1);
  }
}

.card {
  padding: 20px;
  position: relative;
  border-radius: 15px;
  width: 100%;
  max-width: 230px;
  height: 280px;
  background: var(--cards-color);
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: all 0.25s ease;
  transition-property: border, background, box-shadow;

  &:hover {
    border: 1px solid rgba(188, 202, 235, 0.4);
    background: linear-gradient(
      126deg,
      rgba(184, 197, 229, 0.16) 10.31%,
      rgba(188, 202, 235, 0.08) 91.99%
    );
    box-shadow: var(--usercard-shadow);
  }
}

.header {
  display: flex;
  align-items: center;
}

.avatar {
  position: relative;

  .image {
    border-radius: 5px;
  }

  .crown {
    position: absolute;
    top: -15%;
    right: -15%;
    transform: rotate(30deg);
    animation: pulse 2s infinite;
  }
}

.languagesContainer {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
}

.content {
  padding-top: 16px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  column-gap: 8px;

  .name {
    font: var(--font-body-m);
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .role {
    font: var(--font-body-s);
    color: var(--grey-normal-color);
    flex-basis: 34px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.badgeContainer {
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  height: 74px;
  gap: 10px;
}

.empty {
  visibility: hidden;
}

.full,
.framework {
  flex: 1 1 100%;
}

.half {
  flex: 1 1 calc(50% - 10px);
}

.extra {
  flex: 1 1 calc(50% - 10px);
  background: var(--grey-dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
