.hidden_container {
  display: none;
}

.visible_container {
  display: flex;
}

.team_card_top_icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  user-select: none;
}

.span_text {
  color: var(--green-bright-color);
}

.team_card_desc {
  font-size: 16px;
  color: var(--base-white-color);
  line-height: 1.4;
  margin: 0;
}

.crown_container {
  position: absolute;
  width: 28px;
  height: 28px;
  transform: rotate(25deg) translateX(65%) translateY(-90%);
  z-index: 1000;

  svg {
    width: 100%;
    height: 100%;
  }
}

.team_card_picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
