:root {
  /* Colors */
  /* Main */
  /* Green */
  --green-normal-color: #46a11b;
  --green-bright-color: #5bd424;
  --green-active-color: #1c8111;
  --green-dark-color: #064006;

  /* Grey */
  --grey-dark-color: #2f3239;
  --grey-medium-color: #434752;
  --grey-normal-color: #8f9094;
  --grey-light-color: #c1c1c4;

  /* Red */
  --red-error-color: #d42422;
  --red-light-color: #cd3633;
  --red-normal-color: #a5211f;
  --red-dark-color: #450707;

  /* Base */
  --bg-color: #26292b;
  --cards-color: #1a1c22;
  --white-color: #fff;
  --black-color: #1e1e1e;

  /* Additional */
  /* Red */
  --additional-dark-red-color: #a62929;
  --additional-normal-red-color: #d94c4c;
  --additional-light-red-color: #ff8080;

  /* Orange */
  --additional-dark-orange-color: #b26409;
  --additional-normal-orange-color: #e5912e;
  --additional-light-orange-color: #ffb45c;

  /* Yellow */
  --additional-dark-yellow-color: #d4ac0f;
  --additional-normal-yellow-color: #e5bf27;
  --additional-light-yellow-color: #ffdf63;

  /* Lime */
  --additional-dark-lime-color: #498505;
  --additional-normal-lime-color: #87d132;
  --additional-light-lime-color: #bcff70;

  /* Green */
  --additional-dark-green-color: #0d8038;
  --additional-normal-green-color: #29cc66;
  --additional-light-green-color: #6bffa2;

  /* Cyan */
  --additional-dark-cyan-color: #0f8298;
  --additional-normal-cyan-color: #29b1cc;
  --additional-light-cyan-color: #6be7ff;

  /* Blue */
  --additional-dark-blue-color: #2450b2;
  --additional-normal-blue-color: #497ef2;
  --additional-light-blue-color: #7ea7ff;

  /* Violet */
  --additional-dark-violet-color: #6239bf;
  --additional-normal-violet-color: #7c49f2;
  --additional-light-violet-color: #ba94ff;

  /* Pink */
  --additional-dark-pink-color: #b21bab;
  --additional-normal-pink-color: #d936d2;
  --additional-light-pink-color: #ff6af9;

  /* White */
  --additional-white-color: #fafafa;

  /* Loading */
  --loading-base-color: #525252;
  --loading-highlight-color: #313131;

  /* Shadows */
  --dropdown-shadow: 0px 4px 24px 0px rgba(17, 20, 27, 0.25);
  --usercard-shadow: 0px 8px 24px 0px rgba(17, 20, 27, 0.2);

  /* Heading fonts */
  /* Heading 4 -> Heading S */
  --font-heading-size-s: 20px;
  --font-heading-line-s: 120%;
  --font-heading-weight-s: 500;

  /* Heading 3 -> Heading M */
  --font-heading-size-m: 24px;
  --font-heading-line-m: 120%;
  --font-heading-weight-m: 500;

  /* Heading 2 -> Heading L */
  --font-heading-size-l: 32px;
  --font-heading-line-l: 120%;
  --font-heading-weight-l: 600;

  /* Heading 1 -> Heading XL */
  --font-heading-size-xl: 38px;
  --font-heading-line-xl: 120%;
  --font-heading-weight-xl: 600;

  /* Body fonts */
  /* Body 3 -> Body M */
  --font-body-size-m: 14px;
  --font-body-line-m: 120%;
  --font-body-weight-m: 400;

  /* Body 2 -> Body L */
  --font-body-size-l: 16px;
  --font-body-line-l: 140%;
  --font-body-weight-l: 400;

  /* Body 1 -> Body XL */
  --font-body-size-xl: 24px;
  --font-body-line-xl: 140%;
  --font-body-weight-xl: 400;

  /* Caption font */
  --font-caption-size: 12px;
  --font-caption-line: 120%;
  --font-caption-weight: 400;
}
