.container {
  display: flex;
  width: 670px;
  padding: 24px;
  align-items: center;
  gap: 24px;
  border-radius: 20px;
  background: var(--grey-dark-color);
  box-shadow: 0px 4px 24px 0px rgba(17, 20, 27, 0.25);
  opacity: 0;
  transform: translateY(100%);
  transition:
    opacity 500ms,
    transform 500ms;
  animation: slide-in 0.5s ease-in;
}

.openIt {
  opacity: 1;
  transform: translateY(0);
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.closeIt {
  opacity: 0;
  transform: translateY(100%);
  animation: slide-out 0.5s ease-out;
}

@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

.privacy {
  color: var(--green-bright-color);
}

.inline {
  display: flex;
  width: 350px;
  align-items: center;
  gap: 16px;
}

.button {
  display: flex;
  gap: 8px;
}
