@keyframes slide-in {
  // from {
  //   opacity: 0;
  //   transform: translateY(100%);
  // }
  to {
    opacity: 1;
    // transform: translateY(0);
    bottom: 20px;
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

.container {
  display: flex;
  width: 670px;
  padding: 24px;
  position: fixed;
  bottom: -100%;
  align-items: center;
  gap: 24px;
  border-radius: 20px;
  background: var(--grey-dark-color);
  box-shadow: var(--dropdown-shadow);
  opacity: 0;
  // transform: translateY(100%);
  animation: slide-in 1s ease forwards;
}

// .openIt {
//   opacity: 1;
//   transform: translateY(0);
// }

// .closeIt {
//   opacity: 0;
//   transform: translateY(100%);
//   animation: slide-out 0.5s ease-out;
// }

.privacy {
  color: var(--green-bright-color);
}

.inline {
  display: flex;
  width: 350px;
  align-items: center;
  gap: 16px;
}

.button {
  display: flex;
  gap: 8px;
}
