.container {
  flex-basis: 60.94%;
  background: var(--cards-color);
  padding: 48px 55px;

  @media (width <= 768px) {
    padding: 36px 30px;
    flex-basis: 100%;
  }

  @media (width <= 430px) {
    padding: 24px 24px;
  }

  @media (width <= 360px) {
    padding: 24px 21px;
  }
}

.title {
  @media(max-width: 430px) {
    font-size: 24px;
  }
}

.buttons_container {
  @media (max-width: 350px) {
    flex-direction: column;
    gap: 10px;
  }
}

.button {
  @media (max-width: 430px) {
    width: 152px !important;
  }
  @media (max-width: 350px) {
    width: 100% !important;
  }
}
