/* this is just for the MUI SelectField to remove blue border */
fieldset{
  border: none !important;
  outline: none !important;
}

.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon{
  color: white !important;
}

.css-1mf6u8l-MuiSvgIcon-root-MuiSelect-icon{
  color: white !important;
}

.css-vrp7az-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-vrp7az-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-vrp7az-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
  background: none;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px; 
  margin-top: 7px;
  margin-bottom: 7px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px;
  height: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E0FF00; 
}