/* remove border outside of select fields */
fieldset{
  border: none !important;
  outline: none !important;
}

/* remove background */
/* .css-vrp7az-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-vrp7az-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-vrp7az-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
  background: none;
} */

/* customize input */
/* .css-vrp7az-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: white !important;
  font-size: 0.875rem !important;
  font-weight: 600 !important;
} */

/* scrollbar customization */
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper::-webkit-scrollbar { 
  width: 9px;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper::-webkit-scrollbar-thumb { /* WebKit */
  background: #365A08;
  border-radius: 10px;
  height: 30px !important;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper::-webkit-scrollbar-track{
  margin-top: 10px;
  margin-bottom: 10px;
}



