.searchinput_wrapper {
  width: 100%;
  min-height: 40px;
  border: 1px solid var(--green-normal-color);
  border-radius: 10px;
  overflow: hidden;
}

.menu_wrapper {
  height: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}
