.container {
  position: sticky;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid var(--grey-medium-color, #434752);
  display: flex;
  justify-content: space-between;

  .headerWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 24px 32px 16px 32px;

    .groupInfo {
      display: flex;
      flex-direction: row;

      .titlesContainer {
        display: flex;
        flex-direction: column;
      }
    }

    .icons {
      display: flex;
      gap: 4px;
      margin: 11px 0px;
    }
  }
}
