.notificationsModal {
  pointer-events: none; // default value
  position: absolute;
  left: calc(100% + 32px);
  top: -16px;
  width: 320px;
  height: 354px;
  background: linear-gradient(90.45deg, #1a1c22 62.8%, #2f3239 209.77%);
  box-shadow: 0px 4px 24px rgba(17, 20, 27, 0.25);
  border-radius: 5px;
  overflow: hidden;
  transition: clip-path 0.3s ease; // Add transition for clip-path
  clip-path: inset(10% 50% 90% 50% round 10px); // Default to closed state
  &.active {
    clip-path: inset(0% 0% 0% 0% round 10px); // Open state
    pointer-events: all;
  }
}

.notificationsModal.open {
  animation: openAnimation;
}

.notificationsModal.closed {
  animation: closeAnimation;
}

.notificationsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;

  @media screen and (max-width: 670px) {
    padding: 24px;
  }
}

.crossBtn {
  cursor: pointer;
  &:hover {
    path {
      stroke: #d42422;
    }
  }
}

.markAllBtn, .markAllBtnMobile {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  p {
    margin: 0;
    color: #fff;
  }
  &:hover {
    path {
      stroke: #5bd424;
    }
    p {
      color: #5bd424;
    }
  }
}

.mobileNotificationsModal {
  display: block;
  transform: translateY(100%); /* Start from the bottom */
  transition: transform 0.3s ease-in-out;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  &.modalActive {
    background: #26292b;
    overflow: hidden;
    inset: 0px;
    pointer-events: all;
    transform: translateY(0);
  }
}

.mobileWrapper {
  width: 100%;
  min-height: 100dvh;
  background: #26292b !important;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow-y: scroll;
}

.text {
  font-weight: 500;
  font-size: 24px;
  color: #5bd424;
  margin: 0;
  text-align: unset; // default value
}

.markAllBtnMobile {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  background: none;
  outline: none;
  border: 2px solid #46a11b;
  border-radius: 10px;
  padding: 10px 16px;
  margin: 16px 24px 24px 24px;
  p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
  }
  &:hover {
    path {
      stroke: #5bd424;
    }
    p {
      color: #5bd424;
    }
  }
}

@keyframes openAnimation {
  from {
    clip-path: inset(10% 50% 90% 50% round 10px);
  }
  to {
    clip-path: inset(0% 0% 0% 0% round 10px);
  }
}

@keyframes closeAnimation {
  from {
    clip-path: inset(0% 0% 0% 0% round 10px);
  }
  to {
    clip-path: inset(10% 50% 90% 50% round 10px);
  }
}
