.checkmark {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--white-color);
  border-radius: 5px;
  transition: all 0.3s ease 0s;

  svg {
    display: none;
  }
}

.label {
  color: var(--white-color);
  font: var(--font-body-weight-l) var(--font-body-size-l) /
    var(--font-body-line-l) var(--font-rubik);
  transition: all 0.3s ease 0s;
}

.Checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  &__disabled {
    pointer-events: none;
  }

  &:hover {
    .checkmark {
      border-color: var(--green-bright-color);
    }

    // .label {
    //   color: var(--green-bright-color);
    // }
  }
}

.checkbox {
  display: none;

  &:checked + .checkmark {
    background: var(--green-normal-color);
    border: 1px solid var(--green-normal-color);

    svg {
      display: block;
    }
  }

  &:checked:hover + .checkmark {
    background: var(--green-bright-color);
    border: 1px solid var(--green-bright-color);
  }

  &:disabled + .checkmark,
  &:disabled:not(:checked) ~ .label {
    color: var(--white-color);
    pointer-events: none;
    opacity: 0.4;
  }
}
