.notificationsList {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: calc(100% - 62px);
  overflow-y: auto;
  scrollbar-width: none; // Firefox
  -ms-overflow-style: none; // Internet Explorer 10+

  // WebKit
  ::-webkit-scrollbar {
    transition: all 0.2s;
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #5d9d0b;
    border-radius: 10px;
  }
}
