.selected_icons {
  margin-bottom: 32px;
}

.placeholders {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  max-height: 300px;
  overflow: auto;

  @media (width <= 890px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (width <= 480px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

