.tagWrapper {
  border-radius: 5px;
  overflow: hidden;
}

.clearAllButton {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  height: fit-content;
  box-sizing: border-box;
  padding: 4px 8px;
  background: var(--grey-dark-color);

  p {
    box-sizing: border-box;
    padding: 3px;
    padding-left: 6px;
    font-size: 100%;
    color: var(--red-error-color);
    white-space: nowrap;
    overflow: hidden;
    border-radius: 2px;
    text-overflow: ellipsis;
    cursor: pointer;
  }
}
