.empty_tile {
  height: 40px;
  width: 40px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6.25' ry='6.25' stroke='%238F9094' stroke-width='2' stroke-dasharray='5%2c 6.5' stroke-dashoffset='44' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 6.25px;
}
