.cards_zone {
  padding-left: 88px;

  @media screen and (max-width: 768px) {
    padding-left: 0;
  }
}

.cards {
  display: grid;
  row-gap: 50px;
  margin-top: 15px;
  width: 100%;
  max-width: 1196px;
  grid-template-columns: repeat(4, 1fr);

  @media screen and (max-width: 1440px) {
    max-width: 826px;
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 1024px) {
    max-width: 770px;
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 900px) {
    max-width: 526px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
