.iconContainer {
  margin-right: 25px;
  cursor: pointer;
}

.sidebarWrapper {
  pointer-events: none;
  width: 100vw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  &.active {
    pointer-events: all;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  @media screen and (max-width: 768px) {
    pointer-events: none;

    &.active {
      pointer-events: all;
    }
  }
}

.menu {
  pointer-events: all;
  width: 100%;
  height: 100%;
  max-width: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1A1C22;
  transition: max-width 0.6s ease-in-out, left 0.4s ease-in-out, transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  padding: 48px 16px 0 16px;

  &.active {
    max-width: 270px;
    background: linear-gradient(90deg, #1A1C22 62.8%, #2F3239 209.77%);
  }

  @media screen and (max-width: 768px) {
    position: absolute;
    max-width: none;
    left: -270px;
    top: 0;
    width: 270px;
    pointer-events: none;

    &.active {
      left: 0;
      pointer-events: all;
    }
  }
}

.toggle {
  position: relative;
  justify-content: flex-end;
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  opacity: 0;
  position: absolute;
  left: 12px;
  transition: opacity 0.3s ease-in-out;

  &.active {
    opacity: 1;
  }
}

.close {
  cursor: pointer;
  transform: rotateY(180deg);
  padding: 0 12px;

  &.active {
    transform: rotateY(0deg);
  }

  @media screen and (max-width: 768px) {
    padding: 8px 24px 8px 8px;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 36px 0;
  border-bottom: 1px solid #2f3239;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
}

.interactions {
  padding-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.interactButton {
  cursor: pointer;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  border-radius: 10px;
  padding: 8px 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  overflow: hidden;
  transition: background-color 0.2s;
  background-color: transparent;

  &:hover {
    background-color: #2f3239;
  }



  &.modalActive {
    background-color: #5d9d0b;
  }

  span {
    transition: opacity 0.2s;
    opacity: 0;
    pointer-events: none;
    margin: 0;
    white-space: nowrap;


  }

  &.active {
    //background-color: #5d9d0b;

    span {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.copyright {
  opacity: 0;
  pointer-events: none;
  display: block;
  margin-top: auto;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 11px;
  text-transform: capitalize;
  color: #86878b;
  overflow: hidden;
  white-space: nowrap;
  transform: translate(-10px, 10px) scale(0.8); /* Move it slightly to the left and bottom */
  transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;

  &.active {
    transform: translate(0, 0) scale(1); /* Reset translation and scale when active */
    opacity: 1;
    pointer-events: all;
  }
}

.mobileIcon {
  position: absolute;
  top: 47px;
  left: 41px;
  display: none;
  cursor: pointer;
  z-index: 999;

  @media screen and (max-width: 768px) {
    display: block;
    pointer-events: all;
    top: 32px;
    left: 0;

    &.active {
      display: none;
    }
  }
}
