{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "tabWidth": 4,
  "useTabs": true,
  "parser": "typescript"
}
