APP_PORT=3000
APP_NAME=TeameightsAPI
API_PREFIX=api
APP_FALLBACK_LANGUAGE=en
APP_HEADER_LANGUAGE=x-custom-lang
FRONTEND_DOMAIN=http://localhost:3000
BACKEND_DOMAIN=http://localhost:3000
COMPOSE_PROJECT_NAME=teameights

DATABASE_TYPE=postgres
              #teameights-postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=root
DATABASE_EMAIL=admin@teameights.com
DATABASE_PASSWORD=masterkey
DATABASE_NAME=api
DATABASE_SYNCHRONIZE=false
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=

DATABASE_PATH_LOCAL=${HOME}/database/postgres/teameights
DATABASE_PATH_CONTAINER=/var/lib/postgresql
# DATABASE_DATA_PATH_LOCAL = ${DATABASE_DATA_PATH_CONTAINER}
SERVER_PATH_CONTAINER=/usr/src/app
DOCKER_PATH_LOCAL=./Docker
SHSCRIPT_PATH_LOCAL=./sh-scripts
PGADMIN_USER=pguser
PGADMIN_PORT=5050

# Support "local", "s3"
FILE_DRIVER=local
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
AWS_S3_REGION=
AWS_DEFAULT_S3_BUCKET=
          #teameights-maildev
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USER=
MAIL_PASSWORD=
MAIL_IGNORE_TLS=true
MAIL_SECURE=false
MAIL_REQUIRE_TLS=false
MAIL_DEFAULT_EMAIL=noreply@example.com
MAIL_DEFAULT_NAME=Api
MAIL_CLIENT_PORT=1080

AUTH_JWT_SECRET=secret
AUTH_JWT_TOKEN_EXPIRES_IN=15m
AUTH_REFRESH_SECRET=secret_for_refresh
AUTH_REFRESH_TOKEN_EXPIRES_IN=365d

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

WORKER_HOST=redis://redis:6379/1
