.notificationsContent {
  position: relative;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.notificationsCount {
  position: absolute;
  pointer-events: none; // default value
  top: var(--top, auto);
  right: var(--right, auto);
  left: var(--left, auto);
  min-width: 14px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5px 3.5px;
  background: #5bd424;
  border-radius: 50%;
  font-weight: 500;
  font-size: 11px;
  line-height: 100%;
  color: #1a1c22;
  animation: scaleAnimation 1s infinite;
}
