.iconItemStyle {
  border-radius: 4px;
  background: rgb(38 41 43 / 67%);
  box-shadow: rgb(0 0 0 / 10%) 0 1px 3px 0;
  border: 1px solid hsl(203deg 50% 30% / 15%);
  overflow: hidden;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: flex;
  display: flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex: none;
}
