.selected_icons {
  margin-bottom: 32px;
}

.search {
  margin-bottom: 24px;
}

.icons_list {
  height: 450px;
  overflow-y: scroll;
}

.recommended_icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px 32px;
  margin-top: 16px;
  //overflow: auto;

  @media (width <= 890px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (width <= 480px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.recommended {
  margin-bottom: 24px;
}
