.container {
  width: 100%;

  &__disabled {
    pointer-events: none;
    opacity: 0.4;
  }
}

.label {
  font: var(--font-body-weight-m) var(--font-body-size-m) /
    var(--font-body-line-m) var(--font-rubik);
  color: var(--grey-normal-color);

  &:not(--last-child) {
    padding-bottom: 4px;
  }
}

.error {
  color: var(--red-error-color);
  font: var(--font-body-weight-m) var(--font-body-size-m) /
    var(--font-body-line-m) var(--font-rubik);
  margin-top: 8px;
}
