.container {
  width: 100%;
  transition: all 0.1s ease 0s;

  &:hover {
    background-color: var(--grey-dark-color);
  }
}

.menu_list {
  width: calc(100% + 36px);
  display: flex;
  flex-wrap: wrap;

  .option {
    width: calc((100% - 1 * 32px) / 2);

    &:nth-child(2n) {
      margin-left: 32px;
    }

    @media (max-width: 768px) {
      width: 100%;

      &:nth-child(2n) {
        margin-left: 0;
      }
    }
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.search_icon_wrapper {
  margin: auto 12px auto 4px;
}
