.container {
  height: 100dvh;
  width: 100%;
  padding: 48px 0;

  @media (width <= 1120px) {
    padding: 48px 0;
  }

  @media (width <= 580px) {
    padding: 28px;
  }
}

.children {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content_zone {
  margin-bottom: 48px;
  padding-left: 88px;

  @media screen and (max-width: 768px) {
    padding-left: 0;
  }
}
