.container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  color: var(--grey-normal-color);
  font: var(--font-body-weight-s) var(--font-body-size-s) / var(--font-body-line-s)
    var(--font-rubik);
}

.textarea {
  min-height: 76px;
  width: 100%;
  background: transparent;
  font: var(--font-body-weight-m) var(--font-body-size-m) / var(--font-body-line-m)
    var(--font-rubik);
  color: var(--white-color);
  caret-color: var(--green-bright-color);
  border-radius: 5px;
  border: 1px solid var(--grey-normal-color);
  padding: 8px 12px;
  resize: none;
  overflow-y: hidden;

  &:hover {
    background: var(--grey-dark-color);
  }

  &:active,
  &:focus {
    border-color: var(--white-color);
  }
}

.counter {
  display: flex;
  justify-content: flex-end;
}

.label__wrapper {
  display: flex;
  justify-content: space-between;
}
