.needHelp {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.tooltip {
  background: var(--grey-dark-color);
  color: var(--white-color);
  opacity: 1;
  border-radius: 8px;
  box-shadow: 0 8px 24px 0 rgba(17, 20, 27, 0.2);
}

.span {
  color: var(--green-bright-color);
  cursor: pointer;
}
