// White
.white {
  color: var(--white-color)
}

// Green
.green_normal {
  color: var(--green-normal-color)
}

.green_bright{
  color: var(--green-bright-color)
}

// Grey
.grey_normal {
  color: var(--grey-normal-color)
}
