// White
.white {
  color: var(--white-color)
}

// Green
.greenNormal {
  color: var(--green-normal-color)
}

.greenBright{
  color: var(--green-bright-color)
}

// Grey
.greyNormal {
  color: var(--grey-normal-color)
}
