.flex_wrapper {
  display: flex;
  /* align-items: var(--align, normal);
  justify-content: var(--justify, normal);
  gap: var(--gap, 0);
  margin: var(--margin, 0);
  padding: var(--padding, 0);
  flex-direction: var(--direction, row);
  max-height: var(--max-height, none);
  position: var(--position, static);
  width: var(--width, 100%);
  max-width: var(--max-width, none);
  height: var(--height, auto);
  flex-wrap: nowrap;
  flex-shrink: unset; */
}
