.container {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px;
  position: relative;
}

.button {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 24px;
  gap: 8px;
}

.close_button {
  position: absolute;
  top: 0;
  right: 0;
  width: 52px;
  height: 52px;
  padding: 16px;
  cursor: pointer;

  &:hover {
    fill: red;
  }
}
