.selectWrapper {
  max-width: 145px;
  border-right: 1px solid var(--green-normal-color);
  width: 100%;
  height: 100%;
  transition: all 0.1s ease 0s;

  &:hover {
    background-color: var(--grey-dark-color);
  }
}

.select {
  &_active {
    background-color: var(--grey-dark-color);
  }
}
