.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.additional_logo {
  display: none;
  @media (width <= 420px) {
    display: flex;
  }
}

.forgot_link {
  cursor: pointer;
}

.lines_container {
  white-space: nowrap;
}

.line {
  width: 100%;
  height: 1px;
  background: var(--grey-normal-color);
}
