.container {
  height: 286px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  display: flex;
  flex-direction: column;
  width: 306px;
  gap: 8px;
}

.text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 24px;
  gap: 8px;
}
