.container {
  border-radius: 5px;
  overflow: hidden;
}

.clear_all_button {
  min-width: 0;
  box-sizing: border-box;
  background: var(--grey-dark-color);

  p {
    box-sizing: border-box;
    padding: 3px;
    padding-left: 6px;
    font-size: 100%;
    color: var(--red-error-color);
    white-space: nowrap;
    overflow: hidden;
    border-radius: 2px;
    text-overflow: ellipsis;
    cursor: pointer;
  }
}
