.styledNotificationsItem {
  --avatar-size: 36px;
  --message-gap: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 20px 16px 24px;
  color: #fff;
  border-top: 1px solid #2f3239;
  width: 100%;

  &:last-child{
    border-bottom: 1px solid rgb(47, 50, 57);
  }
  &:hover {
    background-color: #2f3239;
  }
}

.messageContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: calc(100% - (var(--avatar-size) + var(--message-gap)));
}

.messageText {
  margin: 0;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
}

.messagePicture {
  position: relative;
  width: var(--avatar-size);
  height: var(--avatar-size);
  background-color: #D4AC0F; /* Default color, can be overridden in component */
  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  svg {
    margin: 8px;
  }
}

.sendingTime {
  margin: 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 100%;
  color: #86878b;
  text-align: end;
}

.messageCircle {
  position: absolute;
  top: 0;
  left: -10px;
  height: 6px;
  width: 6px;
  background-color: #5bd424;
  border-radius: 50%;
}

.messageButton {
  cursor: pointer;
  border: 2px solid #46a11b; /* Default color, can be overridden in component */
  background-color: transparent; /* Default color, can be overridden in component */
  padding: 6px 16px 4px;
  line-height: 140%;
  color: #fff;
  border-radius: 10px;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.8;
  }
}
