.container {
  width: 100%;
  transition: all 0.1s ease 0s;
  padding-left: 10px;
  border: 1px solid #46a11b;
  border-radius: 10px;
  overflow: hidden;

  &:hover {
    background-color: var(--grey-dark-color);
  }
}

.search_icon {
  margin: auto 12px auto 4px;
}
