.languages {
  margin-top: 36px;
}

.selected_languages {
  margin-bottom: 32px;
}

.search {
  margin-bottom: 24px;
}

.languages_list {
  overflow: scroll;
}

.recommended_languages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px 32px;
  margin-top: 16px;
  overflow: auto;

  @media (width <= 890px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (width <= 480px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.recommended {
  margin-bottom: 24px;
}

.languages_list {
  height: 49vh;

  overflow-y: scroll;
  &::-webkit-scrollbar-corner {
    background: transparent;
  }

  @media (width <= 360px) {
    height: 36vh;
  }
}
