.container {
  display: flex;
  width: 100%;
  padding: 48px 55px;

  @media (width <= 1120px) {
    padding: 48px 24px;
  }

  @media (width <= 580px) {
    padding: 24px;
  }
}

.children {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
