.goAwk.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background: #365A08 !important;
  color: white !important;
}

.goAwk.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected:hover {
  background: #365A08 !important;
  color: white !important;
}