.recommended_icons {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 16px;
  max-height: 10vh;
  overflow: auto;
  padding-right: 10px;

  @media (width <= 890px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (width <= 480px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.badge_icon {
  max-width: 143px;
  @media (width <= 950px) {
    max-width: 106px;
  }
}
