.modalOverlay {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(8px);
}

.modalBody {
  position: relative;
  width: 470px;
  margin: auto;
  padding: 32px;
  border-radius: 15px;
  background: var(--base-cards-color, #1a1c22);
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 52px;
  height: 52px;
  cursor: pointer;
}
