.customModal  {
  background: var(--cards-color);
  padding: 32px;
  border-radius: 15px;
  margin: 0;
  width: 100%;
  &.size_l {
    max-width: 570px;
  }

  &.size_m {
    max-width: 470px;
  }

  &.size_s {
    max-width: 370px;
  }
}

.modalContent {
  width: 100%;
  height: 100%;
}

.customOverlay {
  background: rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(5px);
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 52px;
  height: 52px;
  padding: 16px;
  cursor: pointer;

  &:hover {
    fill: red;
  }
}
